.section {
    display: grid;
    grid-template-columns: 15% 35% 33%;
}

.image1 {
    height: 500px;
    width: 500px;
    display: grid;
    grid-column-start: 2;
}

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1rem;
}